<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd">

    <display-name>FCM with Apache Camel</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:META-INF/spring/application-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>XmppInitializer</servlet-name>
        <servlet-class>org.github.allancth.fcm.camel.FcmInitializer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>